.menupanel {
    background-color: #685C78;
}

.brand {
    height: 90px;
    background-color: #4C5C79;
    background-image: url('../../../assets/logocolor.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.menu {
    width: 100%;
    border-radius: 0px !important;
    border: 0px !important;
}

.menu .p-submenu-header {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;

}

