body {
    margin: 0;
}

.p-toolbar.toolbar-topbar {
    border: 0;
    border-radius: 0;
    height: 100%;
}

.p-border-0 {
    border: 0 !important;
    border-radius: 0 !important;
}

.menuslide-init {
    width: 250px;
    transition: width .5s;
}
.menuslide-enter {
    width: 250px;
}
.menuslide-enter.menuslide-enter-active {
    width: 250px;
}
.menuslide-enter-done {
    width: 250px;
}

.menuslide-exit {
    width: 0px;
}

.menuslide-exit.menuslide-exit-active {
    width: 0px;
}
.menuslide-exit-done {
    width: 0px;
}

.margin-center {
    margin: auto;
}

.bathymetry-app-padding {
    padding: 10px;
}


