.loginControl {
    background-color: #A56A83;
    height: 100vh;
}

.logo {
    background-color: #4C5C79;
    background-image: url('../../assets/logocolor.svg');
    background-position: center;
    background-repeat: no-repeat;
}