@import '../../theme/AppTheme.scss';

.login-page {
    background-color: $disabled;
    height: 100vh;
}

.login-page__header {
    background-color: $primary;
    background-image: url('../../assets/logocolor.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 250px;
}