@import '../../theme/AppTheme.scss';

.loginControl {
    background-color: $disabled;
    height: 100vh;
}

.logo {
    background-color: $primary;
    background-image: url('../../assets/logocolor.svg');
    background-position: center;
    background-repeat: no-repeat;
}