@import "../../../../theme/AppTheme.scss";

.layer-tool {
  border-radius: 3px;
  background-color: $accent;
  border: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

}

.layer-tool__layer__name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.layer-tool__layer {

  font-size: 15px;
  margin: 0px 10px 5px 10px;
}

.layer-tool-header {
    padding: 5px;
    border-bottom: 1px solid $secondary;
}


.layers-panel {
    border: 1px solid black !important;

    border-radius: 3px;
}

.layers-panel div {
    border: none !important;

    background-color: $primary !important;
}