$primary: #4980BD;
$secondary: #ffffff;
$tertiary: #ffffff;

$accent: #4980BD;
$accent-second: rgb(80, 141, 211);

$disabled: #4C5C79;

.flat-button:hover {
    background-color: $secondary !important;
    color: $primary !important;
}