body {
    margin: 0;
}

/* .p-toolbar.toolbar-topbar {
    border: 0;
    border-radius: 0;
    height: 100%;
}

.p-border-0 {
    border: 0 !important;
    border-radius: 0 !important;
}




.margin-center {
    margin: auto;
}

.bathymetry-app-padding {
    padding: 10px;
} */




