@import "../../../../theme/AppTheme.scss";

.tools-container {
  padding: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $primary;
}

.tools-username {
  text-align: center;
  color: white;
  font-size: 17px;
}

.tools-button-container {
  display: flex;
  align-content: center;
  align-items: center;
}

.tools-button {
  margin: 4px !important;
  width: 25px;
  height: 25px;
  text-align: center;
  background-color: $primary !important;
  border: 1px solid $secondary !important;
}

.tools-toolbar {
  background-color: $primary !important;
  border: 0px !important;
  padding-left: 0 !important;
}

.tools-username-box {
  border-bottom: 1px solid $secondary;
  
}

.layer-tool {
  border-radius: 3px;
  background-color: $accent;
  border: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

}

.layer-tool-header {
    padding: 5px;
    border-bottom: 1px solid $secondary;
}


.layers-panel {
    border: 1px solid black !important;

    border-radius: 3px;
}

.layers-panel div {
    border: none !important;

    background-color: $primary !important;
}